---
import HeadSeo from "../components/HeadSeo.astro";

export interface Props {
  title: string;
  description?: string;
  image?: string;
  keywords?: string;
  article?: boolean;
}

const { title, description, image, keywords, article } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="#50e3c2" />
    <HeadSeo
      article={article}
      title={title}
      description={description ??
        "Nowrom is the best way to find new roms for your phones!"}
      canonicalUrl={canonicalURL}
      image={image}
    />
    <link rel="sitemap" href="/sitemap.xml" />
    <link
      rel="search"
      type="application/opensearchdescription+xml"
      title="Nowrom"
      href="/search.osd"
    />
    <link rel="icon" href="/nowrom.svg" type="image/svg+xml" />
    <link rel="icon" href="/nowrom.png" type="image/png" />
    <title>{title}</title>
    <slot name="head" />
  </head>
  <body>
    <nav class="navbar bg-base-300">
      <div class="flex-1">
        <a class="btn btn-ghost normal-case text-xl" href="/">Nowrom</a>
      </div>
      <div class="flex-none">
        <ul class="menu menu-horizontal px-1">
          <li><a href="/roms">Roms</a></li>

          <li><a href="/about">About</a></li>
        </ul>
      </div>
    </nav>
    <slot />
    <footer class="footer p-10 bg-neutral text-neutral-content">
      <div>
        <span class="footer-title">Socials</span>
        <a class="link link-hover" href="/github">Github</a>
        <a class="link link-hover" href="/discord">Discord</a>
        <a class="link link-hover" href="/twitter">Twitter</a>
        <a class="link link-hover" href="/contact">Contact</a>
      </div>
    </footer>
  </body>
</html>
